POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=databasename

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_TTL=3600
REDIS_MAX_ITEM_IN_CACHE=1000

PORT=4000
ENV=local

JWT_SECRET=a1kh9i92l2r0a404j
JWT_TOKEN_EXPTIME=3600
JWT_REFRESH_TOKEN_EXP_TIME=604800
COOKIE_SECRET=secret

APP_URL=http://localhost:4000
WEB_APP_URL=http://localhost:8090
DEFAULT_ADMIN_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=